html
  head
    title= "GPSLogger Custom URL Receiver sample"
  body
    :verbatim
        <p>Perform HTTP GET requests directly against the /log endpoint</p>

        <p>Example:</p>
        <code><a href="http://localhost:3000/log?lat=11&lon=22&spd=0&custom=hello">http://localhost:3000/log?lat=11&lon=22&spd=0&custom=hello</a></code>
        <br />
        <p>Then look at the output.csv file</p>